<div class="container-fluid">
  <div class="row align-items-center my-4">
    <div class="col-xl">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>Classes</ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div [ngClass]="{'col-7':!!selectedLesson, 'col-auto':!selectedLesson}">
                <ng-container *ngTemplateOutlet="calendar">
                </ng-container>
              </div>
              <div *ngIf="selectedLesson" class="col-5">
                <app-lesson [event]="selectedEvent"
                            [lesson]="selectedLesson"
                            (onSave)="saveClass()"
                            (onCancel)="cancelSaveClass()"
                (onClone)="cloneClass()"></app-lesson>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Substitution requests by other teachers <span class="badge badge-primary">2</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div class="col-xl">
                <ng-container *ngTemplateOutlet="substitutionProposals"></ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>My requested substitutions <span class="badge badge-primary">1</span></ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div class="col-xl">
                <ng-container *ngTemplateOutlet="substitutionRequests"></ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Invoice data</ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div class="col-xl">
                <ng-container *ngTemplateOutlet="invoiceData"></ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="false">
          <ng-template ngbTabTitle>Availability settings</ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div class="col-xl">
                <ng-container *ngTemplateOutlet="availability"></ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<ng-template #calendar>
  <ng-container *ngIf="events; else loading">
    <app-calendar [events]="events"
                  (eventSelected)="eventSelected($event)"
                  (onSelect)="calendarSelect($event.detail)"
    >Loading...
    </app-calendar>
  </ng-container>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #substitutionProposals>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <th>From teacher</th>
      <th>Client</th>
      <th>Class type</th>
      <th>Date</th>
      <th></th>
      </thead>
      <tbody>
      <tr>
        <!--<th scope="row">{{ i + 1 }}</th>-->
        <td>
          Grand Master Yoda
        </td>
        <td>
          Client 1
        </td>
        <td>
          Normal lesson 90 Min
        </td>
        <td>
          12 April 2019 at 1:30 PM
        </td>
        <td class="btn-group">
          <button ngbButton
                  class="btn btn-primary">
            Apply
          </button>
          <button ngbButton
                  class="btn btn-outline-danger">
            Decline
          </button>
        </td>
      </tr>
      <tr>
        <!--<th scope="row">{{ i + 1 }}</th>-->
        <td>
          Obi-Wan Kenobi
        </td>
        <td>
          Client 2
        </td>
        <td>
          Conversation class 60 Min
        </td>
        <td>
          29 March 2019 at 9:00 AM
        </td>
        <td class="btn-group">
          <button ngbButton
                  class="btn btn-primary">
            Apply
          </button>
          <button ngbButton
                  class="btn btn-outline-danger">
            Decline
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #substitutionRequests>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <th>Date</th>
      <th>Client</th>
      <th>Class type</th>
      <th>Status</th>
      </thead>
      <tbody>
      <tr>
        <!--<th scope="row">{{ i + 1 }}</th>-->
        <td>
          12 April 2019 at 1:30 PM
        </td>
        <td>
          Client 1
        </td>
        <td>
          Normal lesson 90 Min
        </td>
        <td>
          <span class="text-info">Pending</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #invoiceData>

  <div class="row mb-3">
    <div class="col">
      <!--<input type="text" class="form-control" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"/>-->
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" ngbDropdownToggle>Select month</button>
        <div ngbDropdownMenu>
          <button class="dropdown-item">January 2019</button>
          <button class="dropdown-item">February 2019</button>
          <button class="dropdown-item">March 2019</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <th style="text-align: end">Date</th>
          <th style="text-align: center">Normal lesson 90 Min</th>
          <th style="text-align: center">Normal lesson 60 Min</th>
          <th style="text-align: center">Tutoring lesson 60 Min</th>
          <th style="text-align: center">Conversation class 60 Min</th>
          </thead>
          <tbody>
          <tr>
            <th scope="row" style="text-align: end">1 Feb 2019</th>
            <td style="text-align: center">
              {{90*2}}
            </td>
            <td style="text-align: center">
              {{60*2}}
            </td>
            <td style="text-align: center">
              {{60*0}}
            </td>
            <td style="text-align: center">
              {{60*1}}
            </td>
          </tr>
          <tr>
            <th scope="row" style="text-align: end">2 Feb 2019</th>
            <td style="text-align: center">
              {{90*1}}
            </td>
            <td style="text-align: center">
              {{60*1}}
            </td>
            <td style="text-align: center">
              {{60*3}}
            </td>
            <td style="text-align: center">
              {{60*1}}
            </td>
          </tr>
          <tr>
            <th scope="row" style="text-align: end">3 Feb 2019</th>
            <td style="text-align: center">
              {{90*0}}
            </td>
            <td style="text-align: center">
              {{60*2}}
            </td>
            <td style="text-align: center">
              {{60*2}}
            </td>
            <td style="text-align: center">
              {{60*2}}
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #availability>
  <div class="row">
    <div class="col-auto">
      <span class="h5 mr-3">My availability time is from
        <ngb-timepicker class="d-inline-block" [spinners]="false" [ngModel]="{hour: 9, minute: 0}"></ngb-timepicker>
        to
        <ngb-timepicker class="d-inline-block" [spinners]="false" [ngModel]="{hour: 20, minute: 0}"></ngb-timepicker>
        every day
      </span>
    </div>
    <div class="col-auto">
      <button ngbButton
              class="btn btn-primary">
        Update
      </button>
    </div>
  </div>
</ng-template>

