<div class="container-fluid">
  <div class="row align-items-center my-4">
    <div class="col-xl">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>Classes</ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div [ngClass]="{'col-7':!!selectedLesson, 'col-auto':!selectedLesson}">
                <ng-container *ngTemplateOutlet="calendar">
                </ng-container>
              </div>
              <div *ngIf="selectedLesson" class="col-5">
                <app-lesson [event]="selectedEvent"
                            [lesson]="selectedLesson"
                            (onSave)="saveClass()"
                            (onCancel)="cancelSaveClass()"
                            (onClone)="cloneClass()"></app-lesson>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Substitution requests by other teachers <span *ngIf="incomingSubstitutions?.length"
                                                                                 class="badge badge-primary">{{incomingSubstitutions.length}}</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div class="col-xl">
                <ng-container *ngTemplateOutlet="substitutionProposals"></ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>My requested substitutions <span
            *ngIf="outgoingSubstitutions?.length" class="badge badge-primary">{{outgoingSubstitutions.length}}</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div class="col-xl">
                <ng-container *ngTemplateOutlet="substitutionRequests"></ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Invoice data</ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div class="col-xl">
                <app-invoice [lessons]="lessons"></app-invoice>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="false">
          <ng-template ngbTabTitle>Availability settings</ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div class="col-xl">
                <ng-container *ngTemplateOutlet="availability"></ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<ng-template #calendar>
  <ng-container *ngIf="events; else loading">
    <app-calendar [events]="events"
                  (eventSelected)="eventSelected($event)"
                  (onSelect)="calendarSelect($event.detail)"
    >Loading...
    </app-calendar>
  </ng-container>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #substitutionProposals>
  <div *ngIf="incomingSubstitutions; else loading" class="table-responsive">
    <table class="table table-striped">
      <thead>
      <th>Date</th>
      <th>From teacher</th>
      <th>Class type</th>
      <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let sub of incomingSubstitutions">
        <td>
          {{sub.lesson.startTime | date:'d MMMM y h:mm a'}}
        </td>
        <td>
          {{sub.fromTeacher.firstName}} {{sub.fromTeacher.lastName}}
        </td>
        <td>
          {{sub.lesson.classType.name}}
        </td>
        <td [ngSwitch]="sub.status">
          <div class="btn-group" *ngSwitchCase="'PENDING'">
            <button ngbButton
                    class="btn btn-primary"
                    (click)="acceptSubstitution(sub)">
              Accept
            </button>
            <button ngbButton
                    class="btn btn-outline-danger"
                    (click)="declineSubstitution(sub)">
              Decline
            </button>
          </div>
          <span *ngSwitchDefault>{{sub.status}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #substitutionRequests>
  <div *ngIf="outgoingSubstitutions; else loading" class="table-responsive">
    <table class="table table-striped">
      <thead>
      <th>Date</th>
      <th>Class type</th>
      <th>Teacher</th>
      <th>Status</th>
      </thead>
      <tbody>
      <tr *ngFor="let sub of outgoingSubstitutions">
        <!--<th scope="row">{{ i + 1 }}</th>-->
        <td>
          {{sub.lesson.startTime | date:'d MMMM y h:mm a'}}
          <!--12 April 2019 at 1:30 PM-->
        </td>
        <td>
          {{sub.lesson.classType.name}}
        </td>
        <td>
          {{sub.toTeacher.firstName}} {{sub.toTeacher.lastName}}
        </td>
        <td>
          {{sub.status}}
          <!--<span class="text-info">Pending</span>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #availability>
  <div class="row">
    <div class="col-auto">
      <span class="h5 mr-3">My availability time is from
        <ngb-timepicker class="d-inline-block" [spinners]="false" [ngModel]="{hour: 9, minute: 0}"></ngb-timepicker>
        to
        <ngb-timepicker class="d-inline-block" [spinners]="false" [ngModel]="{hour: 20, minute: 0}"></ngb-timepicker>
        every day
      </span>
    </div>
    <div class="col-auto">
      <button ngbButton
              class="btn btn-primary">
        Update
      </button>
    </div>
  </div>
</ng-template>

