<ng-container *ngIf="(currentUser$ | async) as curUser; else login">
  <div class="container-fluid px-20">
    <div class="row justify-content-between">
      <div class="col-auto">
        <p class="h3">Attendance tracking</p>
      </div>
      <div class="col-auto">
        <a href="mailto:{{curUser.id}}">{{curUser.id}}</a>
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-primary" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-teacher></app-teacher>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #login>
  <app-login></app-login>
</ng-template>
