<div class="container-fluid" *ngIf="!loadingEnabled; else loading">
  <div class="row mb-4 justify-content-between">
    <div class="col-auto">
      <p class="h4">{{selectedEvent.title}}</p>
    </div>
    <div class="col-auto">
      <div class="btn-group" role="group">
        <button ngbButton
                class="btn btn-primary"
                (click)="save()">
          Save
        </button>
        <button ngbButton
                class="btn btn-outline-secondary"
                (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
    <div class="col-auto">
      <div class="btn-group" role="group">
        <button ngbButton
                class="btn btn-primary"
                (click)="cloneButtonClick()">
          Clone this class
        </button>
        <button ngbButton
                class="btn btn-primary"
                placement="bottom"
                container="body"
                [ngbPopover]="askSubstitutionPopupContent">
          Ask substitution for this class
        </button>
      </div>
    </div>
  </div>

  <div class="row align-items-center mb-1">
    <div class="col-auto">
      <span class="h6 mr-3">Class type:</span>
      <myDropdown class="d-inline-block"
                  [(ngModel)]="selectedLesson.classType"
                  [source]="classTypes"
                  [displayFunc]="displayClassType"
      ></myDropdown>
    </div>
  </div>

  <div class="row align-items-center mb-1">
    <div class="col-auto">
      <span class="h6 mr-3">Date:</span>
      <form class="form-inline d-inline-block">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="d2" #c2="ngModel"
                   [ngModel]="selectedLesson.startTime"
                   (ngModelChange)="setStartDate($event)"
                   ngbDatepicker
                   #d2="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row align-items-center mb-4">
    <div class="col-auto">
      <span class="h6 mr-3">Time:</span>
      <myTimePicker class="d-inline-block"
                    [ngModel]="selectedLesson.startTime"
                    (ngModelChange)="setStartTime($event)"></myTimePicker>
    </div>
  </div>


  <div class="row justify-content-center mb-1" *ngIf="lessonStudents; else loading">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Present in class</th>
          <th scope="col">Student</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of lessonStudents; index as i">
          <!--<th scope="row">{{ i + 1 }}</th>-->
          <td style="text-align: center" [ngClass]="{disable: !student.isActive}">
            <!--<input type="checkbox" [ngModel]="true" ngbButton>-->
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="student{{i}}" [(ngModel)]="student.isVisited">
              <label class="custom-control-label" for="student{{i}}"></label>
            </div>
            <!--<myCheckbox [ngModel]="true"></myCheckbox>-->
          </td>
          <td [ngClass]="{disable: !student.isActive}">
            {{student.student.firstName}} {{student.student.lastName}}
          </td>
          <td style="text-align: center">
            <button *ngIf="student.isActive"
                    ngbButton
                    class="btn btn-outline-danger"
                    ngbTooltip="Remove"
                    (click)="removeStudent(student)">
              X
            </button>
            <button *ngIf="!student.isActive"
                    ngbButton
                    class="btn btn-outline-success"
                    (click)="restoreStudent(student)">
              Restore
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="!addStudentActive" class="row justify-content-center">
    <div class="col-3 align-content-center">
      <button ngbButton
              class="btn btn-primary w-100"
              ngbTooltip="Add Student"
              (click)="createStudent()">
        +
      </button>
    </div>
  </div>

  <div *ngIf="addStudentActive" class="row justify-content-center">
    <div class="col-auto align-content-center">
      <myDropdown [(ngModel)]="newStudent"
                  [source]="availableStudents"
                  [placeHolder]="'Select student'"
                  [displayFunc]="displayStudent"></myDropdown>
    </div>
    <div class="col-auto">
      <div class="btn-group" role="group">
        <button ngbButton
                class="btn btn-primary"
                [ngClass]="{disable: !newStudent}"
                (click)="addStudent()">
          Add
        </button>
        <button ngbButton
                class="btn btn-outline-primary"
                (click)="cancelAddStudent()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #askSubstitutionPopupContent>
  <ngb-datepicker></ngb-datepicker>
</ng-template>

<confirm-window #cloneConfirmWindow (onOk)="cloneLessonConfirmed()">
  <ng-container *ngIf="cloneDates as range">
    <span>
    You are attempting to clone class '{{selectedEvent.title}}' to these {{range.length}} days:
      <ul>
        <li *ngFor="let d of range">{{d | date:'dd/MM/yyyy'}}</li>
      </ul>
    Do you proceed?
      </span>
  </ng-container>
</confirm-window>

<myWindow #cloneDatesSelectWindow>

  <div class="row mb-2 justify-content-center">
    <div class="col-auto">
      <myDatepickerMultiple #cloneDp></myDatepickerMultiple>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button ngbButton
              class="btn btn-primary text-uppercase"
              [disabled]="!cloneDp.selectedDates.length"
              (click)="cloneSelectedDates(cloneDp.selectedDates)">
        Clone
      </button>
    </div>
  </div>
</myWindow>
