<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin mt-5">
        <div class="card-body">
          <div class="form-label-group">
            <input class="form-control"
                   placeholder="Access key"
                   required
                   (keydown)="onKeydown($event)"
                   [(ngModel)]="token">
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3"
                  type="button"
                  (click)="login()">Sign in
          </button>
        </div>

      </div>
      <div *ngIf="(error$ | async) as err" (click)="error$.next(null)" class="alert alert-danger mt-3" role="alert">
        {{err}}
      </div>
    </div>
  </div>
</div>

